input {
  width: 500px;
  transition: background-color 1s;
  margin-bottom: 20px;
}

.correct {
  background-color: aquamarine;
}

.wrong-place {
  background-color: lemonchiffon;
}

.incorrect {
  background-color: crimson;
}