@font-face {
  font-family: "Circular Sp UI v3 T Black";
  src: url("//db.onlinewebfonts.com/t/596409e7700d7e9cd94f9df5a8b1b477.eot");
  src: url("//db.onlinewebfonts.com/t/596409e7700d7e9cd94f9df5a8b1b477.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/596409e7700d7e9cd94f9df5a8b1b477.woff") format("woff"); 
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Circular Sp UI v3 T Black", sans-serif;
  letter-spacing: -0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #181818;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container > div, .flex-container > form {
  /* border: 1px solid red; */
}

.score {
  margin-left: 15px;
}

.input-form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.input-form > div {
  /* border: 1px solid red; */
  margin: 15px;
  background-color: #202020;
  padding: 10px 20px;
  border-radius: 5px;
}

.input-form > .submit-button-container {
  background-color: #181818;
}

.artist-search > h2, .song-search-container h2 {
  margin-top: 0;
}

.intro {
  margin-bottom: 30px;
}

.input-form button {
  font-family: "Circular Sp UI v3 T Black", sans-serif;
  height: 40px;
  width: 155px;
  color: white;
  /* background-color: #1ED761; */
  background-color: #181818;
  border-radius: 5px;
  border: 1.5px solid #767676;
}

.input-form button:hover {
  border: 1.5px solid rgb(202, 202, 202);
}

/* .testo>h2 {
  font-family: 'Times New Roman', Times, serif;
} */

input {
  font-family: "Circular Sp UI v3 T Black", sans-serif;
  outline: none;
  border: none;
}

input:focus {
  outline: none;
}

small {
  /* font-family: "Circular Sp UI v3 T Black", sans-serif; */
  font-size: 11.5px;
}

.artist-search-container {
  /* width: fit-content; */
  /* color: blue; */
  /* position: relative; */
  /* left: 200px; */
  /* border: 1px solid black; */
}

.artist-search > input {
  width: 200px;
}

.song-search {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.song-search > input {
  width: 400px;
  transition: background-color 1s;
  margin-bottom: 20px;
}

/* .song-search > input.correct {
  background-color: aquamarine;
}

.song-search > input.wrong-place {
  background-color: lemonchiffon;
}

.song-search > input.incorrect {
  background-color: crimson;
} */

.tick-container, .squiggle-container, .cross-container {
  color: #181818;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  opacity: 0;
  transition: opacity 1s;
}

.tick-container > p, .squiggle-container > p, .cross-container > p {
  margin: 0;
}

.tick-container.show, .squiggle-container.show, .cross-container.show {
  opacity: 1;
}

.tick-container {
  background-color: #1ED760; 
}

.squiggle-container {
  background-color: #d7ac1e; 
  transform: translateX(-30px);
}

.cross-container {
  background-color: #d73a1e; 
  transform: translateX(-60px);
}

.top-tracks {
  margin-top: 80px;
  opacity: 0;
  transition: opacity 1s;
}

.top-tracks > p {
  margin-bottom: 19px;
}

.top-tracks > p > span {
  letter-spacing: 1px;
}

.top-tracks.show {
  opacity: 1;
}

.images-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.artist-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 5px;
}

.artist-image-container > p {
  margin: 5px;
}

.artist-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px;
}