body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Circular Sp UI v3 T Black", sans-serif;
  letter-spacing: -0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #202020;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.input-form {
  display: flex;
}

.input-form > div {
  border: 1px solid black;
}

.artist-search > h3, .song-search-container > h3 {
  margin-top: 0;
}

.input-form button {
  font-family: "Circular Sp UI v3 T Black", sans-serif;
  height: 30px;
  background-color: aqua;
}


/* .testo>h3 {
  font-family: 'Times New Roman', Times, serif;
} */

input {
  font-family: "Circular Sp UI v3 T Med", sans-serif;
}

input:focus {
  outline: none;
}

small {
  font-family: "Circular Sp UI v3 T Light", sans-serif;
  font-size: 11.5px;
}

.artist-search-container {
  /* width: fit-content; */
  /* color: blue; */
  /* position: relative; */
  /* left: 200px; */
  /* border: 1px solid black; */
}

.artist-search > input {
  width: 200px;
}

.song-search-container {
  /* width: fit-content; */
  /* color: blue; */
  /* position: relative; */
  /* left: 200px; */
  /* border: 1px solid black; */
}

.song-search > input {
  width: 400px;
  transition: background-color 1s;
  margin-bottom: 20px;
}

.song-search > input.correct {
  background-color: aquamarine;
}

.song-search > input.wrong-place {
  background-color: lemonchiffon;
}

.song-search > input.incorrect {
  background-color: crimson;
}